@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Scope+One|Trocchi");
@import url('https://fonts.googleapis.com/css2?family=Gluten&family=Playpen+Sans&family=Roboto:wght@300;400&family=Texturina:opsz,wght@12..72,800&display=swap');


#logo_link {
	position: absolute;
	top: 20px; /* Adjusted the top position for the logo */
	left: 20px; /* Adjusted the left position for the logo */
	z-index: 2;
	}
	.logo{
	width: 65%;
	border-radius: 35%;
	}
	/* Place the navbar at the bottom of the page */
	.navbar {
		width: 100%;
		position: absolute;
		justify-content: space-around;
		padding: 38px;
		z-index: 2;
		display: flex;
		align-items: center; /* Vertically center the navigation items */
	}
	
	.navbar a {
		color: #EDD382;
		padding: 13px;
		text-decoration: none;
		font-size: 22px;
		display: inline-block;
		position: relative;
		transition: transform 0.3s ease; /* Added smooth transition */
	}
	
	.navbar a:hover {
		background-color: #EDD382;
		color: white;
		transform: scale(1.1); /* Slightly scale on hover for visual feedback */
	}
	
/* Button */
	.button {
		border-radius: 26px;
		cursor: pointer;
		display: inline-block;
		font-weight: 900;
		line-height: 2.95em;
		padding: 0 1.5em;
		text-decoration: none;
	}
	.button.small {
		font-size: 0.8em;
		top: 60px;
	}
	input[type="button"].big,
	button.big,
	.button.big {
		font-size: 1.35em;
	}
	input[type="button"],
	button,
	.button {
		background-color: #3498db;
		color: #fff !important;
	}
	input[type="button"]:hover,
	button:hover,
	.button:hover {
		background-color: #f16f60;
	}
/* Flex */
	.flex {
		display: flex;
		justify-content: space-between;
	}
		.flex.flex-2 .col {
			width: 28%;
		}
			.flex.flex-2 .col.col1 {
				width: 15%;
			}
		
			.image.fit img {
				width: 800%;
			}
		.image.round {
			border-radius: 100%;
		}
			.image.round img {
				border-radius: 100%;
			}
/* Wrapper */
	.wrapper {
		padding: 6em 0 4em 0;
		position: relative;
	}
		.wrapper .inner {
			margin: 0 auto;
			width: 80em;
			position: relative;
			z-index: 99;
		}
		.wrapper.style1 {
			background-color:white;
			color: rgb(87, 81, 81);
		}
		.wrapper.style2 {
			background-color: #3498db;
			color: white;
		}
	#banner:before {
		content: '';
		display: block;
		background-color: #000;
		height: 100%;
		left: 0;
		opacity: 1;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
		transition: opacity 3s ease;
	}
	#banner.is-loaded:before {
		opacity: 0.55; /* Quando a classe is-loaded for adicionada, torne o fundo transparente */
		transition-delay: 1s; /* Atraso para garantir que a transição ocorra após um certo tempo */
	}
	body{
		overflow-x: hidden;
	}

	p {
		font-size: 23px;
	}

	#banner {
		-ms-flex-pack: center;
		-ms-flex-align: center;
		padding: 8em 0 6em 0;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		background-image: url("hero.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-top: 0;
		min-height: 30vh;
		height: 40vh !important;
		position: relative;
		text-align: center;
		overflow: hidden;
	}
		#banner .inner {
			-moz-transform: scale(1.0);
			-webkit-transform: scale(1.3);
			-ms-transform: scale(1.0);
			transform: scale(1.0);
			-moz-transition: opacity 1s ease, -moz-transform 1s ease;
			-webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
			-ms-transition: opacity 1s ease, -ms-transform 1s ease;
			transition: opacity 1s ease, transform 1s ease;
			opacity: 1;
			position: relative;
			z-index: 2;
		}
		
		#banner h1 {
			font-size: 5em;
			margin-bottom: .25em;
			color: #FFF;
		}
		#banner p {
			color: rgba(255, 255, 255, 0.85);
			font-size: 1.75em;
		}
	@-moz-keyframes more {
		0% {
			bottom: -3em;
		}
		100% {
			bottom: 0;
		}
	}

	@-webkit-keyframes more {
		0% {
			bottom: -3em;
		}

		100% {
			bottom: 0;
		}
	}

	@-ms-keyframes more {
		0% {
			bottom: -3em;
		}

		100% {
			bottom: 0;
		}
	}

	@keyframes more {
		0% {
			bottom: -3em;
		}

		100% {
			bottom: 0;
		}
	}

	
	
	

		@media screen and (max-width: 980px) {

			#banner {
				font-size: .85em;
			}

				#banner br {
					display: none;
				}

		}

		@media screen and (max-width: 736px) {

			#banner {
				min-height: 0;
				padding: 8em 2em 4em 2em;
			}

				#banner .inner {
					width: 100%;
				}

				#banner h1 {
					font-size: 1.75em;
					margin-bottom: 0.5em;
					padding-bottom: 0;
				}

				#banner p {
					font-size: 1.25em;
				}

				#banner .button {
					width: 100%;
				}

		}

		@media screen and (max-width: 480px) {

			#banner p {
				font-size: 1em;
			}

		}

		body.is-loading #banner .inner {
			-moz-transform: scale(0.99);
			-webkit-transform: scale(0.99);
			-ms-transform: scale(0.99);
			transform: scale(0.99);
			opacity: 0;
		}

		body.is-loading #banner:before {
			opacity: 1;
		}


.button.small {
	font-size: 1em;
	padding: 0.5em 1em;
	justify-content: center;
}



.flex.flex-2 .col {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
	
}

.col a {
    text-decoration: none;
}

.col img {
    width: 100%;
    max-width: 320px;
    height: auto;
    border-radius: 8px; 
    margin-bottom: 10px;
	
}

.col p {
    text-align: center;
    margin-bottom: 10px;
}

.button.small {
    font-size: 1em;
    padding: 0.5em 1em;
    justify-content: center;
    width: 40%;
	text-align: center;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.gallery-button {
    background-color: #3498db;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-button {
    background-color: #3498db;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button.small:hover {
    transform: scale(1.1);
}


/* padding to the images inside the .social section in the footer */

/* footer */
footer {
	background-color: #EDD382;
	color: black;
	padding: 25px 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}
footer a:hover {
	background-color: #3c7e86;
	transform: scale(2.5); 
    transition: background-color 0.3s, transform 0.3s;
	color: white; 
	padding: 16px;
	
}
footer a {
	text-decoration: none;
}
.social img :hover{
	
	background-color: #EDD382; 
	padding-top: 15px;
  }
  
  
.wrapper.style1 {
	background-color: rgb(248, 246, 246);
	color: rgb(87, 81, 81);
	display: grid;
	place-items: center;
	min-height: 100vh; 
	
  
  .grid-container {
	display: grid;
	grid-template-columns: repeat(2fr);
	gap: 20px;
	max-width: 200px; 
	padding: 20px;
	text-align: center;
  }
  
  .grid-item {
	background-color: #fff; /* Adapte as propriedades conforme necessário */
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
	
  }  
